<h3>TD Asset Creation</h3>
<span id="page-setup" data-class="41064d86-df48-4d5a-a42d-2ba14521fd4e" data-projection-min="a27e06b7-bcd4-7c08-1380-4eb4b8fe0d88" data-projection-full="31b2f33f-6c2a-1360-6f69-e9c85d791357">
<div class="section" id="asset-form">
	<form id="ci-update-form" name="update-custom-ci" action="" method="POST">
		<div class="row">
			<div class="col-md-4">
				<label for="AssetUniqueID">Asset Unique ID</label>
				<input class="form-control" type="text" name="AssetUniqueID" required data-required-mag="You must enter a unique asset ID.">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="KCPLHostName">Host Name</label>
				<input class="form-control" type="text" name="KCPLHostName" required data-required-mag="">
			</div>
			<div class="col-md-4">
				<label for="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd" class="required">CIP Location</label>
				<input class="form-control" type="relationship"
					id="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd" 
					name="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd" 
					required validationMessage="Select a CIP Location" 
					data-class="f6352f1f-3ebb-d752-c400-950bbbed2964" 
					data-projection="19be061b-17e2-36c7-f01f-24a9b705a2fc">
			</div>
			<div class="col-md-4">
				<label for="Target_298b7421_e5a3_4f8a_a0a0_7346749b203f">Cyber System</label>
				<input class="form-control" type="relationship" name="Target_298b7421_e5a3_4f8a_a0a0_7346749b203f" 
					required validationMessage="Select a Cyber System" 
					data-class="66a86b9e-4d95-5557-451b-d52f88936c12" 
					data-projection="69df5643-b020-990e-2a53-446e7a840479"
					data-parent="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd"
					data-parent-property="Source_34f113ba_3ddd_4d0a_b42e_45447a4c3a22">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="Source_5fe00fe0_9ede_423c_b404_9e8887ea2836">PSP</label>
				<input class="form-control" type="childrelationship" name="Source_5fe00fe0_9ede_423c_b404_9e8887ea2836" 
					required validationMessage="Select a PSP" 
					data-class="f30db3d0-37be-9009-cc9c-a03aee81b187" 
					data-projection="d501f6ca-1349-1293-621c-94770ba50667"
					data-parent="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd"
					data-parent-property="Source_e4be24ff_d5f7_439c_8313_df67178e0751">
			</div>
			<div class="col-md-4">
				<label for="Source_ee903eef_b100_4d51_9fce_899bdf0348c8">ESP</label>
				<input class="form-control" type="childrelationship" name="Source_ee903eef_b100_4d51_9fce_899bdf0348c8" 
					required validationMessage="Select an ESP" 
					data-class="984bf95a-86d2-d1b2-e904-c26dccefb178" 
					data-projection="8c093d32-4408-499e-7f91-67652b6f09c4"
					data-parent="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd"
					data-parent-property="Source_aa5779bc_7af4_4687_b1d7_06d95879f7d0">
			</div>
			<div class="col-md-4">
				<label for="OperatingSystem">Operating System</label>
				<input class="form-control" type="enum" name="OperatingSystem" data-id="fe3fbff4-04e8-9745-299e-befa2aa2b943">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="CIPDeviceType">Type of Device</label>
				<input class="form-control" type="enum" name="CIPDeviceType" data-id="775d6fbd-8484-15de-85c6-8806a329678c">
			</div>
			<div class="col-md-4">
				<label for="PhysicalLocationDetails">Physical Location Details</label>
				<input class="form-control" type="text" name="PhysicalLocationDetails">
			</div>
			<div class="col-md-4">
				<label for="Division">Division</label>
				<input class="form-control" type="enum" name="Division" data-id="fc0bcb1e-cf39-2da6-12ba-2ab3be7d235d">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="Manufacturer">Manufacturer</label>
				<input class="form-control" type="enum" name="Manufacturer" data-id="d28b4a50-0147-eeac-ac96-87242e72fee0">
			</div>
			<div class="col-md-4">
				<label for="Model">Model Number</label>
				<input class="form-control" type="text" name="Model">
			</div>
			<div class="col-md-4">
				<label for="SerialNumber">Serial Number</label>
				<input class="form-control" type="text" name="SerialNumber">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="Firmware">Firmware</label>
				<input class="form-control" type="text" name="Firmware">
			</div>
			<div class="col-md-4">
				<label for="KCPLGenerationTDRecoveryPlan">Recovery Plan</label>
				<input class="form-control" type="enum" name="KCPLGenerationTDRecoveryPlan" data-id="fcc8850c-66ef-cf57-f176-dca516aa848a">
			</div>
			<div class="col-md-4">
				<label for="Criticality">Criticality</label>
				<input class="form-control" type="enum" name="Criticality" data-id="d74aa0e4-e04f-4cd8-b1d1-805c2c663303">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="Description">Description</label>
				<input class="form-control" type="enum" name="Description" data-id="7f31f8d1-3619-1f57-8b31-9569447ea6a8">
			</div>
			<div class="col-md-4">
				<label for="IPAddressSerialID">IP Address</label>
				<input class="form-control" type="text" name="IPAddressSerialID">
			</div>
			<div class="col-md-4">
				<label for="IPAddressSerialID">IP Address</label>
				<input class="form-control" type="text" name="IPAddressSerialID">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="BackUpType">Backup Type</label>
				<input class="form-control" type="text" name="BackUpType">
			</div>
			<div class="col-md-4">
				<label for="BackUpStorageLocation">Backup Location</label>
				<input class="form-control" type="text" name="BackUpStorageLocation">
			</div>
			<div class="col-md-4">
				<label for="PCInterFace">PC Interface</label>
				<input class="form-control" type="text" name="PCInterFace">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<label for="Notes">Notes</label>
				<textarea class="form-control" maxsize="500" name="Notes">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="IOPortCableF">IO Port Cable F</label>
				<input class="form-control" type="text" name="IOPortCableF">
			</div>
			<div class="col-md-4">
				<label for="IOPortCable1">IO Port Cable 1</label>
				<input class="form-control" type="text" name="IOPortCable1">
			</div>
			<div class="col-md-4">
				<label for="IOPortCable2">IO Port Cable 2</label>
				<input class="form-control" type="text" name="IOPortCable2">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="IOPortCable3">IO Port Cable 3</label>
				<input class="form-control" type="text" name="IOPortCable3">
			</div>
			<div class="col-md-4">
				<label for="IOPortCable4">IO Port Cable 4</label>
				<input class="form-control" type="text" name="IOPortCable4">
			</div>
			<div class="col-md-4">
				<label for="FiberOptic">Fiber Optic</label>
				<input class="form-control" type="text" name="FiberOptic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="IRIG">IRIG</label>
				<input class="form-control" type="text" name="IRIG">
			</div>
			<div class="col-md-4">
				<label for="Ethernet">Ethernet</label>
				<input class="form-control" type="text" name="Ethernet">
			</div>
			<div class="col-md-4">
				<label for="RS485">RS-485</label>
				<input class="form-control" type="text" name="RS485">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-left">
				<button class="k-button k-primary btn btn-fixed btn-primary" type="submit">Submit</button>
				<span class="status"></span>
			</div>
		</div>
	</form>
</div>