<h3>Edit Generation Asset</h3>
<span id="page-setup" data-class="60dd4fe6-4c0b-3722-66fa-81fe45b12706" data-projection-min="26bd3577-351d-fe2c-a65c-6e4e2bbbc92e" data-projection-full="3db31571-ce20-02bb-0390-94538b18b35b">
<div class="row">
	<div class="col-md-4">
		<div class="section" id="list">
			<label for="ci-select-list">Select CI to Edit</label>
			<input  type="text" id="ci-select-list" name="ci-select-list">
		</div>
	</div>
</div>
<div class="section" id="asset-form">
	<form id="ci-update-form" name="update-custom-ci" action="" method="POST">
		<div class="row">
			<div class="col-md-4">
				<label for="AssetUniqueID" class="required">Asset Unique ID</font></label>
				<input type="text" name="AssetUniqueID" disabled>
			</div>
			<div class="col-md-4">
				<label for="KCPLHostName" class="required">Host Name</label>
				<input type="text" name="KCPLHostName" required data-required-msg="Enter a hostname">
			</div>
			<div class="col-md-4">
				<label for="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd" class="required">CIP Location</label>
				<input type="relationship" name="Target_d1da0910_39d9_40eb_ab73_3dc08cbc7bcd" disabled validationMessage="Select a CIP Location" data-class="f6352f1f-3ebb-d752-c400-950bbbed2964" data-projection="0c1e032f-7d4a-33ce-13e6-f2c51e91c19d">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="Target_ace48fb1_caa7_4f11_ba0c_fd4e37abfb67" class="required">Cyber System</label>
				<input type="relationship" name="Target_ace48fb1_caa7_4f11_ba0c_fd4e37abfb67" disabled validationMessage="Select a Cyber System" data-class="66a86b9e-4d95-5557-451b-d52f88936c12" data-projection="69df5643-b020-990e-2a53-446e7a840479">
			</div>
			<div class="col-md-4">
				<label for="Target_123d2e7d_482c_4650_8c7e_2e7a3c818014">PSP</label>
				<input type="relationship" name="Target_123d2e7d_482c_4650_8c7e_2e7a3c818014" disabled validationMessage="Select a PSP" data-class="d25e927d-f8a0-81b7-a09b-adc483aac0e5" data-projection="1f9af01c-9007-c5a1-a37f-d1f6d488fd1f">
			</div>
			<div class="col-md-4">
				<label for="Target_3a69b4e2_de5d_4212_a55f_cbd224bd23ae">ESP</label>
				<input type="relationship" name="Target_3a69b4e2_de5d_4212_a55f_cbd224bd23ae" disabled validationMessage="Select an ESP" data-class="5a376cab-7dcf-4a40-959f-bf7e1a7112b6" data-projection="7fc5378e-1331-00f9-5fd3-fa62c6865e36">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="OperatingSystem">Operating System</label>
				<input type="enum" name="OperatingSystem" data-id="fe3fbff4-04e8-9745-299e-befa2aa2b943">
			</div>
			<div class="col-md-4">
				<label for="CIPDeviceType">Type of Device</label>
				<input type="enum" name="CIPDeviceType" data-id="775d6fbd-8484-15de-85c6-8806a329678c">
			</div>
			<div class="col-md-4">
				<label for="PhyscialLocationDetails">Physical Location Details</label>
				<input type="text" name="PhyscialLocationDetails">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="Division">Division</label>
				<input type="enum" name="Division" data-id="fc0bcb1e-cf39-2da6-12ba-2ab3be7d235d">
			</div>
			<div class="col-md-4">
				<label for="Manufacturer">Manufacturer</label>
				<input type="enum" name="Manufacturer" data-id="d28b4a50-0147-eeac-ac96-87242e72fee0">
			</div>
			<div class="col-md-4">
				<label for="Model">Model Number</label>
				<input type="text" name="Model">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="SerialNumber">Serial Number</label>
				<input type="text" name="SerialNumber">
			</div>
			<div class="col-md-4">
				<label for="Firmware">Firmware</label>
				<input type="text" name="Firmware">
			</div>
			<div class="col-md-4">
				<label for="KCPLGenerationTDRecoveryPlan">Recovery Plan</label>
				<input type="enum" name="KCPLGenerationTDRecoveryPlan" data-id="fcc8850c-66ef-cf57-f176-dca516aa848a">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="Criticality">Criticality</label>
				<input type="enum" name="Criticality" data-id="d74aa0e4-e04f-4cd8-b1d1-805c2c663303">
			</div>
			<div class="col-md-4">
				<label for="Description">Description</label>
				<input type="enum" name="Description" data-id="7f31f8d1-3619-1f57-8b31-9569447ea6a8">
			</div>
			<div class="col-md-4">
				<label for="IPAddressSerialID">IP Address</label>
				<input type="text" name="IPAddressSerialID">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="BackUpType">Backup Type</label>
				<input type="text" name="BackUpType">
			</div>
			<div class="col-md-4">
				<label for="BackUpStorageLocation">Backup Location</label>
				<input type="text" name="BackUpStorageLocation">
			</div>
			<div class="col-md-4">
				<label for="Notes">Notes</label>
				<input type="text" name="Notes">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="IOPortCableF">IO Port Cable F</label>
				<input type="text" name="IOPortCableF">
			</div>
			<div class="col-md-4">
				<label for="IOPortCable1">IO Port Cable 1</label>
				<input type="text" name="IOPortCable1">
			</div>
			<div class="col-md-4">
				<label for="IOPortCable2">IO Port Cable 2</label>
				<input type="text" name="IOPortCable2">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="IOPortCable3">IO Port Cable 3</label>
				<input type="text" name="IOPortCable3">
			</div>
			<div class="col-md-4">
				<label for="IOPortCable4">IO Port Cable 4</label>
				<input type="text" name="IOPortCable4">
			</div>
			<div class="col-md-4">
				<label for="FiberOptic">Fiber Optic</label>
				<input type="text" name="FiberOptic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="IRIG">IRIG</label>
				<input type="text" name="IRIG">
			</div>
			<div class="col-md-4">
				<label for="PCInterFace">PC Interface</label>
				<input type="text" name="PCInterFace">
			</div>
			<div class="col-md-4">
				<label for="Ethernet">Ethernet</label>
				<input type="text" name="Ethernet">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="RS485">RS-485</label>
				<input type="text" name="RS485">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-left">
				<button class="k-button k-primary btn btn-fixed btn-primary" type="submit">Submit</button>
				<span class="status"></span>
			</div>
		</div>
	</form>
</div>