<h3>Modify Generation Asset</h3>

<span 
	id="page-setup" 
	data-class="d3901417-bd0e-318a-682b-af72a0dd24db"
	data-projection-min="edadde04-c025-098b-bcba-599d9865f1be" 
	data-projection-full="fb33ac1b-8b90-2282-4d79-6d68e22dc33c">
<div class="row" id="filter-lists">
	<div class="col-md-12">
		<div class="section" id="div-ci-location-select">
			<label for="ci-location-select">Select Location</label>
			<br />
			<input 
				class="form-control k-input k-ext-dropdown k-combobox" 
				type="text" 
				id="ci-location-select" 
				name="ci-location-select"
				placeholder="Make a selection"
				data-class="d365f58b-9da3-34e7-d9b0-6268d4f9e9f4" 
				data-projection="78b60de3-dacd-0d5f-58ac-cff49a04ad2d"
				data-cascade-target="ci-asset-select"
				data-target-filter-relationship="dd3f02f8-a13b-b5bc-0a89-34b287e36e0c"
				data-target-filter-property-id="6b8fd9d3-a5dd-d333-2449-9940507d76ae"
				data-target-filter-property-operator="Equal"
				data-target-filter-property-name="CIPLocation">
		</div>
	</div>
	<div class="col-md-12">
		<div class="section" id="div-ci-asset-select">
			<label for="ci-asset-select">Select Asset</label>
			<br />
			<input 
				class="form-control k-input k-ext-dropdown k-combobox" 
				type="text" 
				id="ci-asset-select" 
				name="ci-asset-select"
				placeholder="Make a selection"
				data-filter-type="property"
				data-filter-property="9c775305-ee05-389b-df5a-68f3d79c7d41"
				data-filter-operator="Equal" 

				data-filter-value="7e454cb8-cfc4-b94a-b3c3-c593d7fe619f"
				data-class="d3901417-bd0e-318a-682b-af72a0dd24db"
				data-projection="e024acad-312d-bd73-d636-6220ff482057">


		</div>
	</div>
</div>
<div class="section" id="asset-form">
	<form id="ci-update-form" name="update-custom-ci" action="" method="POST">
		<div class="row">
			<div class="col-md-3">
				<label for="AssetName">Asset Name</label>
				<input class="form-control k-input k-ext-dropdown k-combobox" type="text" name="AssetName">
			</div>
			<div class="col-md-3">
				<label for="AssetUniqueID" class="required">Asset UID</label>
				<br />
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="text" 
					name="AssetUniqueID" disabled>
			</div>

			<div class="col-md-3">
				<label for="Target_085a4b89_8cd4_40e0_8585_4a03b9e37cd5">CIP Location</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship"
					id="Target_085a4b89_8cd4_40e0_8585_4a03b9e37cd5" 
					name="Target_085a4b89_8cd4_40e0_8585_4a03b9e37cd5"
					disabled
					data-class="d365f58b-9da3-34e7-d9b0-6268d4f9e9f4" 
					data-projection="78b60de3-dacd-0d5f-58ac-cff49a04ad2d">
			</div>

		</div>
			
			
			
			
		<div class="row">
		<div class="col-md-3">

				<label for="Target_74621fd0_36c6_47be_a679_4bbdbbc759eb" class="required">BES Cyber System</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship" 
					name="Target_74621fd0_36c6_47be_a679_4bbdbbc759eb" 
					data-class="720fea8c-888e-6748-87cd-80fe1d58fbb1" 
					data-projection="248f7de7-413f-3f17-1dcc-3a20e0e71654">
			</div>
		
		
		
			<div class="col-md-3">
				<label for="Target_9391e8cd_a05a_42bc_b92d_d9cff0f2d94a">PSP Name</label>
				<br />
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship" 
					name="Target_9391e8cd_a05a_42bc_b92d_d9cff0f2d94a" 
					data-class="0fce4c07-0558-5b7a-5546-d0426ea22b47" 
					data-projection="ac08e9a3-a940-8E4c-cb9a-88fde1f01129">
			</div>
			<div class="col-md-3">
				<label for="Target_ca178cb0_88fc_4210_9977_98a81c40a7ad">ESP Name</label>
				<br />
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship" 
					name="Target_ca178cb0_88fc_4210_9977_98a81c40a7ad"
					data-class="da82aae1-8e8a-6214-6a46-15ca42700e4a" 
					data-projection="8e0b7548-d221-6212-0a50-684606101581">
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Target_0a035203_a28e_42f5_893d_597124f5cac4">Manufacturer</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship" 
					name="Target_0a035203_a28e_42f5_893d_597124f5cac4"
					data-class="f6e2be49-97a4-2121-11c0-ced7d1dfdbee"
					data-projection="020c7949-4362-6c0a-89b9-ca8b87b7bcf9">
			</div>
			<div class="col-md-3">
				<label for="Target_b43e22df_da3e_45d2_aead_f2eec1b68aed">Operating System</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship" 
					name="Target_b43e22df_da3e_45d2_aead_f2eec1b68aed"
					data-class="aaca415b-bbda-4f6c-e527-0eaa3f524bd4"
					data-projection="cba8e83b-f012-45d0-8d23-2e9b25904fc3">
			</div>
			<div class="col-md-3">
				<label for="Target_03923330_e879_4926_8523_099ce3b6e1ed">Type of Device</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship" 
					name="Target_03923330_e879_4926_8523_099ce3b6e1ed"
					data-class="9602d28b-1445-3a69-15e5-5b644f06ba92"
					data-projection="6b37b297-a759-d831-d1cd-ba9bc832b1e5">
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="ModelNumber">Model Number</label>
				<input class="form-control" type="text" name="ModelNumber">
			</div>
			<div class="col-md-3">
				<label for="SerialNumber">Serial Number</label>
				<input class="form-control" type="text" name="SerialNumber">
			</div>
			<div class="col-md-3">
				<label for="Firmware">Firmware</label>
				<input class="form-control" type="text" name="Firmware">
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Target_4d8a0c3b_bd5b_4bac_9b1b_50982ec436a1">Physical Host</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship"
					name="Target_4d8a0c3b_bd5b_4bac_9b1b_50982ec436a1"
					data-class="5e123e4f-916c-07d1-5e22-335d9673133f"
					data-projection="4b7f2378-451b-b9c9-1be9-5cc56fe9c1ef">
			</div>		
		
		
		
		
		
			<div class="col-md-3">
				<label for="Target_e63e3095_af07_41d0_99e4_cf78062d82c8">Designated System</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship"
					name="Target_e63e3095_af07_41d0_99e4_cf78062d82c8"
					data-class="4578d050-a0e1-c1ce-82ab-26f866b2640c"
					data-projection="a9203661-cbf1-636d-35ac-d8ca456102c6">
			</div>
			<div class="col-md-3">
				<label for="Target_4f1bb4a3_6cc1_4802_8555_4b7d9cfed299">Physical Location Details</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship"
					name="Target_4f1bb4a3_6cc1_4802_8555_4b7d9cfed299"
					data-class="33cd050b-ac9a-b01e-2c79-7f0e5ac3cf84"
					data-projection="92288198-919f-e26e-6c18-d999307d5475">
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Target_02e4ea75_fb33_45e7_aa66_b3dda99225b0">Recovery Plan</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship"
					name="Target_02e4ea75_fb33_45e7_aa66_b3dda99225b0"
					data-class="3324f33e-a1cf-56ab-2d0e-e8f3fcd59a4f"
					data-projection="27c9560b-9ed1-fc87-78ea-bcbec0c9a8f8">
			</div>
		
		
		
			<div class="col-md-3">
				<label for="Target_0537cd2f_9ce1_4c4f_ae43_4b1907b421af">Recovery Procedure</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship"
					name="Target_0537cd2f_9ce1_4c4f_ae43_4b1907b421af"
					data-class="c2998c41-89d1-f476-e717-9b77078dff4f"
					data-projection="71c6bba4-8994-15f1-f34d-082a962dc59f">
			</div>
			<div class="col-md-3">
				<label for="ImpactRating">Impact Rating</label>
				<input class="form-control k-input k-ext-dropdown k-combobox" type="enum" name="ImpactRating" data-id="f4fc42e9-24f6-4b5c-e16f-0a71f9ed94db">
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Target_36cd28d2_45a7_4f27_bb30_b9ebbd297909">Device Class</label>
				<input class="form-control k-input k-ext-dropdown k-combobox"  type="relationship"
					name="Target_36cd28d2_45a7_4f27_bb30_b9ebbd297909"
					data-class="d1375ef8-5d41-d47a-d4c9-ee1415fa89ab"
					data-projection="4b9b13eb-d30b-fd44-0c74-16846c4597df">
			</div>
			<div class="col-md-3">
				<label for="AssetIPAddress">IP Address</label>
				<input class="form-control" type="text" name="AssetIPAddress">
			</div>
			<div class="col-md-3">
				<label for="PanelCabinet">Panel Cabinet</label>
				<input class="form-control" type="text" name="PanelCabinet">
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<label for="Notes">Notes</label>
				<textarea class="form-control max-width" type="text" name="Notes"  maxlength="500" ></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="IOPortCableF">IO Port Cable F</label>
				<input class="form-control" type="text" name="IOPortCableF">
			</div>
			<div class="col-md-3">
				<label for="IOPortCable1">IO Port Cable 1</label>
				<input class="form-control" type="text" name="IOPortCable1">
			</div>
			<div class="col-md-3">
				<label for="IOPortCable2">IO Port Cable 2</label>
				<input class="form-control" type="text" name="IOPortCable2">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="IOPortCable3">IO Port Cable 3</label>
				<input class="form-control" type="text" name="IOPortCable3">
			</div>
			<div class="col-md-3">
				<label for="IOPortCable4">IO Port Cable 4</label>
				<input class="form-control" type="text" name="IOPortCable4">
			</div>
			<div class="col-md-3">
				<label for="FiberOptic">Fiber Optic</label>
				<input class="form-control" type="text" name="FiberOptic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="IRIG">IRIG</label>
				<input class="form-control" type="text" name="IRIG">
			</div>
			<div class="col-md-3">
				<label for="PCInterface">PC Interface</label>
				<input class="form-control" type="text" name="PCInterface">
			</div>
			<div class="col-md-3">
				<label for="Ethernet">Ethernet</label>
				<input class="form-control" type="text" name="Ethernet">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="RS485">RS-485</label>
				<input class="form-control" type="text" name="RS485">
			</div>
			<div class="col-md-3">
				<label for="RelayID">Relay ID</label>
				<input class="form-control" type="text" name="RelayID">
			</div>
			<div class="col-md-3">
				<label for="SMEMethodologyBoxes">SME Methodology Boxes</label>
				<input class="form-control" type="text" name="SMEMethodologyBoxes">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 columns text-left">
				<button class="k-button k-primary btn btn-primary btn-fixed" type="submit">Submit</button>

				<div class="status panel panel-info text-center"></div>
			</div>
		</div>
	</form>
</div>