.section {
	margin: 15px 0px 15px 0px;
}

label {
	display: inline-block;
	width: 150px;
}

input, textarea {
	width: 250px;
	
}

span .k-textbox, .k-dropdown, .k-combobox, .k-datetimepicker {
  width: 280px;
}

.confirm {
	padding-top: 1em;
}

.valid {
	color: green !important;
}

.invalid {
	color: red !important;
}

span.k-widget.k-tooltip-validation {
	display: inline-block;
	width: 160px;
	text-align: left;
	border: 0;
	padding: 5px 0;
	margin: 0;
	background: none;
	box-shadow: none;
	color: red !important;
	font-size:12px;
}

.k-tooltip-validation .k-warning {
	display: none;
}

.btn.btn-fixed{
	width:100px;
	padding:4px;
}
.k-textbox, .k-autocomplete, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap{
	border:0px;
	min-width:250px;
}
.k-input{
	height:27px;
}
.form-control{
	max-width:280px;
	height:30px !important;
	line-height:30px !important;
	padding-left:5px;
}
.k-dropdown.form-control{
	padding-left:0px;
}
.k-state-disabled .k-input{
	opacity:.5;
	cursor:not-allowed;
	background-color:#eee;
}
#confirm{
	position:absolute;
	top:300px;
	z-index:9999;
	background:#fff;
}
