<h3>Initiate TD CR</h3>
<span 
	id="page-setup" 
	data-class="d3901417-bd0e-318a-682b-af72a0dd24db" 
	data-projection-min="edadde04-c025-098b-bcba-599d9865f1be" 
	data-projection-full="fb33ac1b-8b90-2282-4d79-6d68e22dc33c"
	data-filter-property="9c775305-ee05-389b-df5a-68f3d79c7d41"
	data-filter-operator="Equal" 
	data-filter-value="54fbc7ec-cebe-b2e9-beb2-19399c11fcc8"></span>  <!-- Update with Division_Groups enum value -->

<div class="row" id="filter-lists">
	<div class="col-md-12">
		<div class="section" id="div-ci-location-select">


			<label for="ci-location-select">Select Location</label>
			<br />
			<input 
				class="form-control k-input k-ext-dropdown k-combobox" 
				type="text" 
				id="ci-location-select" 
				name="ci-location-select"

				placeholder="Make a selection"

				


				
				data-class="d365f58b-9da3-34e7-d9b0-6268d4f9e9f4" 
				data-projection="78b60de3-dacd-0d5f-58ac-cff49a04ad2d"
				data-cascade-target="ci-asset-select"
				data-target-filter-relationship="dd3f02f8-a13b-b5bc-0a89-34b287e36e0c"
				data-target-filter-property-id="6b8fd9d3-a5dd-d333-2449-9940507d76ae"
				data-target-filter-property-operator="Equal"
				data-target-filter-property-name="CIPLocation">





		</div>
	</div>
	<div class="col-md-12">
		<div class="section" id="div-ci-asset-select">


			<label for="ci-asset-select">Select Asset</label>
			<br />
			<input 
				class="form-control k-ext-dropdown k-combobox" 
				type="text" 
				id="ci-asset-select" 
				name="ci-asset-select"


				placeholder="Make a selection"
				data-filter-type="property"
				data-filter-property="9c775305-ee05-389b-df5a-68f3d79c7d41"
				data-filter-operator="Equal" 
				data-filter-value="54fbc7ec-cebe-b2e9-beb2-19399c11fcc8"
				data-class="d3901417-bd0e-318a-682b-af72a0dd24db"


				data-projection="e024acad-312d-bd73-d636-6220ff482057"
				data-list-type="kendoMultiSelect">







		</div>
	</div>
</div>
<div class="section" id="asset-form">
	<form id="ci-update-form" name="update-custom-ci" action="" method="POST">
<!-- 		<div class="row">
			<div class="col-md-6">
				<label for="Title">Title</label>
				<input class="form-control k-input max-width" type="text" name="Title">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="Reason">Reason</label>
				<textarea class="form-control k-input max-width" type="text" name="Reason" maxlength="500"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Area">Area</label>
				<input class="form-control k-input k-ext-dropdown" type="enum" name="Area" data-id="28f88c04-d11d-78c0-a237-fa9abd6c6478">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Priority">Priority</label>
				<input class="form-control k-input k-ext-dropdown" type="enum" name="Priority" data-id="b40092af-f163-af28-6150-bb0ffa677660">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Impact">Impact</label>
				<input class="form-control k-input k-ext-dropdown" type="enum" name="Impact" data-id="44edd2ff-6280-afb7-3a0d-d6e8a711d894">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Risk">Risk</label>
				<input class="form-control k-input k-ext-dropdown" type="enum" name="Risk" data-id="347a02c1-9784-f335-04b0-662efc8d6676">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="Notes">Notes</label>
				<textarea class="form-control k-input max-width" type="text" name="Notes" maxlength="500"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="ImplementationPlan">Implementation Plan</label>
				<textarea class="form-control k-input max-width" type="text" name="ImplementationPlan" maxlength="500"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="RiskAssessmentPlan">Risk Assessment Plan</label>
				<textarea class="form-control k-input max-width" type="text" name="RiskAssessmentPlan" maxlength="500"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="TestPlan">Test Plan</label>
				<textarea class="form-control k-input max-width" type="text" name="TestPlan" maxlength="500"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="BackOutPlan">Back Out Plan</label>
				<textarea class="form-control k-input max-width" type="text" name="BackOutPlan" maxlength="500"></textarea>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-3 text-left">
				<button class="k-button k-primary btn btn-primary btn-fixed" type="submit">Submit</button>

				<span class="status label label-info"></span>
			</div>
		</div>
	</form>
</div>