<span id="page-setup" data-class="41064d86-df48-4d5a-a42d-2ba14521fd4e" data-projection-min="a27e06b7-bcd4-7c08-1380-4eb4b8fe0d88" data-projection-full="31b2f33f-6c2a-1360-6f69-e9c85d791357">
<div class="section" id="list">
	<label for="ci-select-list">Select CI to Edit</label>
	<input type="text" id="ci-select-list" name="ci-select-list">
</div>
<div class="section" id="asset-form">
	<form id="ci-update-form" name="update-custom-ci" action="" method="POST">
		<div class="row">
			<div class="col-md-3">
				<label for="AssetUniqueID">Asset Unique ID</label>
				<input type="text" name="AssetUniqueID" disabled>
			</div>
			<div class="col-md-3">
				<label for="KCPLHostName">Host Name</label>
				<input type="text" name="KCPLHostName" required data-required-mag="">
			</div>
			<div class="col-md-3">
				<label for="Target_298b7421_e5a3_4f8a_a0a0_7346749b203f">Cyber System</label>
				<input type="relationship" name="Target_298b7421_e5a3_4f8a_a0a0_7346749b203f" required validationMessage="Select a Cyber System" data-class="66a86b9e-4d95-5557-451b-d52f88936c12" data-projection="69df5643-b020-990e-2a53-446e7a840479">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Source_5fe00fe0_9ede_423c_b404_9e8887ea2836">PSP</label>
				<input type="relationship" name="Source_5fe00fe0_9ede_423c_b404_9e8887ea2836" required validationMessage="Select a PSP" data-class="f30db3d0-37be-9009-cc9c-a03aee81b187" data-projection="d501f6ca-1349-1293-621c-94770ba50667">
			</div>
			<div class="col-md-3">
				<label for="Source_ee903eef_b100_4d51_9fce_899bdf0348c8">ESP</label>
				<input type="relationship" name="Source_ee903eef_b100_4d51_9fce_899bdf0348c8" required validationMessage="Select an ESP" data-class="984bf95a-86d2-d1b2-e904-c26dccefb178" data-projection="8c093d32-4408-499e-7f91-67652b6f09c4">
			</div>
			<div class="col-md-3">
				<label for="OperatingSystem">Operating System</label>
				<input type="enum" name="OperatingSystem" data-id="fe3fbff4-04e8-9745-299e-befa2aa2b943">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="CIPDeviceType">Type of Device</label>
				<input type="enum" name="CIPDeviceType" data-id="775d6fbd-8484-15de-85c6-8806a329678c">
			</div>
			<div class="col-md-3">
				<label for="PhysicalLocationDetails">Physical Location Details</label>
				<input type="text" name="PhysicalLocationDetails">
			</div>
			<div class="col-md-3">
				<label for="Division">Division</label>
				<input type="enum" name="Division" data-id="fc0bcb1e-cf39-2da6-12ba-2ab3be7d235d">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Manufacturer">Manufacturer</label>
				<input type="enum" name="Manufacturer" data-id="d28b4a50-0147-eeac-ac96-87242e72fee0">
			</div>
			<div class="col-md-3">
				<label for="Model">Model Number</label>
				<input type="text" name="Model">
			</div>
			<div class="col-md-3">
				<label for="SerialNumber">Serial Number</label>
				<input type="text" name="SerialNumber">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Firmware">Firmware</label>
				<input type="text" name="Firmware">
			</div>
			<div class="col-md-3">
				<label for="KCPLGenerationTDRecoveryPlan">Recovery Plan</label>
				<input type="enum" name="KCPLGenerationTDRecoveryPlan" data-id="fcc8850c-66ef-cf57-f176-dca516aa848a">
			</div>
			<div class="col-md-3">
				<label for="Criticality">Criticality</label>
				<input type="enum" name="Criticality" data-id="d74aa0e4-e04f-4cd8-b1d1-805c2c663303">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="Description">Description</label>
				<input type="enum" name="Description" data-id="7f31f8d1-3619-1f57-8b31-9569447ea6a8">
			</div>
			<div class="col-md-3">
				<label for="IPAddressSerialID">IP Address</label>
				<input type="text" name="IPAddressSerialID">
			</div>
			<div class="col-md-3">
				<label for="IPAddressSerialID">IP Address</label>
				<input type="text" name="IPAddressSerialID">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="BackUpType">Backup Type</label>
				<input type="text" name="BackUpType">
			</div>
			<div class="col-md-3">
				<label for="BackUpStorageLocation">Backup Location</label>
				<input type="text" name="BackUpStorageLocation">
			</div>
			<div class="col-md-3">
				<label for="PCInterFace">PC Interface</label>
				<input type="text" name="PCInterFace">
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<label for="Notes">Notes</label>
				<input type="text" name="Notes">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="IOPortCableF">IO Port Cable F</label>
				<input type="text" name="IOPortCableF">
			</div>
			<div class="col-md-3">
				<label for="IOPortCable1">IO Port Cable 1</label>
				<input type="text" name="IOPortCable1">
			</div>
			<div class="col-md-3">
				<label for="IOPortCable2">IO Port Cable 2</label>
				<input type="text" name="IOPortCable2">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="IOPortCable3">IO Port Cable 3</label>
				<input type="text" name="IOPortCable3">
			</div>
			<div class="col-md-3">
				<label for="IOPortCable4">IO Port Cable 4</label>
				<input type="text" name="IOPortCable4">
			</div>
			<div class="col-md-3">
				<label for="FiberOptic">Fiber Optic</label>
				<input type="text" name="FiberOptic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="IRIG">IRIG</label>
				<input type="text" name="IRIG">
			</div>
			<div class="col-md-3">
				<label for="Ethernet">Ethernet</label>
				<input type="text" name="Ethernet">
			</div>
			<div class="col-md-3">
				<label for="RS485">RS-485</label>
				<input type="text" name="RS485">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<button class="k-button k-primary" type="submit">Submit</button>
				<span class="status"></span>
			</div>
		</div>
	</form>
</div>