.section {
	margin: 15px 0px 15px 0px;
}

label {
	display: inline-block;
	width: 150px;
}

input {
	width: 250px;
}

span .k-textbox, .k-dropdown, .k-combobox, .k-datetimepicker {
  width: 250px;
}

.confirm {
	padding-top: 1em;
}

.valid {
	color: green !important;
}

.invalid {
	color: red !important;
}

span.k-widget.k-tooltip-validation {
	display; inline-block;
	width: 160px;
	text-align: left;
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	box-shadow: none;
	color: red !important;
}

.k-tooltip-validation .k-warning {
	display: none;
}