<h3>Initiate Generation CR</h3>
<span id="page-setup" data-class="d3901417-bd0e-318a-682b-af72a0dd24db" data-projection-min="edadde04-c025-098b-bcba-599d9865f1be" data-projection-full="fb33ac1b-8b90-2282-4d79-6d68e22dc33c">

<div class="section" id="asset-form">
	<form id="ci-update-form" name="update-custom-ci" action="" method="POST">
		<div class="row">
			<div class="col-md-3">
				<label for="Target_085a4b89_8cd4_40e0_8585_4a03b9e37cd5" class="required">CIP Location</label>
				<input class="form-control" type="relationship"
					name="Target_085a4b89_8cd4_40e0_8585_4a03b9e37cd5"
					required validationMessage="Select a CIP Location"
					data-class="d365f58b-9da3-34e7-d9b0-6268d4f9e9f4" 
					data-projection="78b60de3-dacd-0d5f-58ac-cff49a04ad2d">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 columns text-left">
				<button class="k-button k-primary btn btn-primary btn-fixed" type="submit">Submit</button>
				<button class="k-button k-primary btn btn-primary btn-fixed" type="reset">Reset</button>
				
<span class="status label label-info"></span>
<span class="status label label-warning"></span>
			</div>
		</div>
	</form>
</div>