.section {
	margin: 15px 0px 15px 0px;
}

label {
	display: inline-block;
}

input, textarea {
	width: 250px;
	
}

textarea.form-control.max-width {
	max-width: 100% !important;
	height: 120px !important;
}

#ci-asset-select-list {
  max-width: 600px !important;
  width: 100% !important;
}
#ci-asset-select-list .k-item > span > h4 {
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
}

#ci-asset-select-list .k-item > span > table > tbody > tr > td {
	min-width: 125px;
	text-align: left;
}

span .k-textbox, .k-dropdown, .k-combobox, .k-datetimepicker {
  width: 280px;
}

.confirm {
	padding-top: 1em;
}

.valid {
	color: green !important;
}

.invalid {
	color: red !important;
}

span.k-widget.k-tooltip-validation {
	display: inline-block;
	width: 160px;
	text-align: left;
	border: 0;
	padding: 5px 0;
	margin: 0;
	background: none;
	box-shadow: none;
	color: red !important;
	font-size:12px;
}

.k-tooltip-validation .k-warning {
	display: none;
}

.btn.btn-fixed{
	width:100px;
	padding:4px;
}
.k-textbox, .k-autocomplete, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap{
	border:0px;
	min-width:250px;
}
.k-input{
	height:27px;
}

/*this messes up the combobox formatting
.form-control{
	max-width:280px;
	height:30px !important;
	line-height:30px !important;
	padding-left:5px;
}
*/
.k-dropdown {
	padding-left:0px;
}
.k-state-disabled .k-input{
	opacity:.5;
	cursor:not-allowed;
	background-color:#eee;
}
#confirm{
	position:absolute;
	top:300px;
	z-index:9999;
	background:#fff;
}
